<form #Form="ngForm" (submit)="OnSubmit()">

    <div class="form-group row">
        <label for="name" class="col-md-4">ProductCategoryName</label>
        <input type="text"
               id="name"
               name="name"
               class="form-control-sm  col-md-8"
               required
               [(ngModel)]="model.name"
               #proName="ngModel" />
        <div *ngIf="proName.invalid && (proName.dirty && proName.touched)"
             class="alert">
            enter valid name
        </div>

    </div>
    <div>
        <label class="e-float-text e-label-top" for="upload">Choose a file</label>
        <input type="file" #imageInput
               (change)="uploadImage(imageInput)"
               accept="image/*"
               class="e-input" />
        <figure >
            <img [src]="model.imageUpload.imageData" width="300" />
            <figcaption>{{model.imageUpload.imageName}}</figcaption>
        </figure>
    </div>

    <table class="table table-responsive-sm table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>productNumber</th>
                <th>color</th>
                <th>standardCost</th>
                <th>listPrice</th>
                <th>size</th>
                <th>weight</th>
                <th>
                    <button type="button" class="btn btn-info" (click)="AddProduct()">Add Product</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of model.products; let i = index">
                <td class="form-group">
                    <input type="text"
                           name="name[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.name" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="productNumber[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.productNumber" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="color[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.color" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="standardCost[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.standardCost" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="listPrice[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.listPrice" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="size[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.size" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="weight[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="product.weight" />

                </td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="DeleteProduct(i)">Delete Product</button>
                </td>
            </tr>
        </tbody>
    </table>


    <hr />
    <button type="submit" [disabled]="Form.invalid">Save</button>


</form>
