<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">Sample Angular WebApp1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
              <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                  <a class="nav-link text-dark" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" routerLink="/home">Privacy</a>
                </li>
              
                <li class="nav-item" *ngIf="user != null && user.roles.includes('Admin')">
                  <a class="nav-link text-dark" routerLink="/userlist">Users</a>
                </li>
                <li class="nav-item" *ngIf="user != null && user.roles.includes('Admin')">
                  <a class="nav-link text-dark" routerLink="/role-index">Roles</a>
                </li>
              </ul>

              <!--

                  <partial name="_LoginPartial" /> -->
              <div *ngIf="login">
                <ul class="navbar-nav right">
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">{{user.username}} ({{user.roles.join(',')}})</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#" (click)="logout()">Logout</a>
                  </li>
                </ul>

              </div>
              <div *ngIf="!login">
                <ul class="navbar-nav right">
                  <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/register">Register</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/login">Login</a>
                  </li>
                </ul>

              </div>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="center-element">
        <router-outlet></router-outlet>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - SampleMVC_WebApp1
    </div>
</footer>
