<h1>Login</h1>

<form (submit)="login($event)">
  <div>
    <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" />
  </div>
  <div>
    <input type="password"
           class="form-control"
           name="model.password"
           placeholder="Password"
           [(ngModel)]="model.password" required minlength="4" #inputPass="ngModel" />
    <ul *ngIf="inputPass.invalid && inputPass.touched" class="text-danger">
      <li *ngIf="inputPass.errors?.['required']">Password is required</li>
      <li *ngIf="inputPass.errors?.['minlength']">Minimum Password length is 6</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-outline-success">Login</button>
  <a class="btn btn-link text-dark" routerLink="/register">New?</a>
</form>
